.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  position: relative;
  text-align: justify;
  flex-wrap: wrap;
  /* flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 20%;
  margin: 0 0 15px 0;
  padding: 0 5px 0 10px; */
 
  
  
}

.cards {

  width: 200px;
  height: 400px;
  box-shadow: 0 2px 20px grey;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  
  
}

.product_box{
  padding: 20px;
}